<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ url_for('static', filename='styles/styleR.css') }}" rel="stylesheet">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-queue.v3.min.js"></script>
  <script src="{{ url_for('static', filename='js/scriptR.js') }}"></script>
  <title>IMDB Active Users</title>
</head>
<body>
<div id="controls">
  <span>
    <label><input id="combine" type="radio" name="grouping" value="combine" checked>Combine</label>
    <label><input id="continents" type="radio" name="grouping" value="continents">Continents</label>
    <label><input id="country-centers" type="radio" name="grouping" value="country-centers">Country Centers</label>
    <label><input id="score" type="radio" name="grouping" value="score">num_voted_users</label>
  </span>
  <span>
    <label><input id="colors" type="radio" name="fill" value="colors" checked>Colors</label>
    <label><input id="flags" type="radio" name="fill" value="flags">Flags</label>
  </span>
</div>
<div id="country-info"></div>
<div id="bubble-chart"></div>
<h1><a href="..">Home</a></h1>
<script>
  d3.queue()
    .defer(d3.csv, "{{ url_for('static', filename='data/movies_merged_df.csv') }}")
    .defer(d3.json, "{{ url_for('static', filename='data/continent-names.json') }}")
    .await(createBubbleChart);
</script>

</body>
</html>
