<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Flask Movies Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<div class="container">
<div class="row">
<div class="col-md-12 jumbotron text-center">
<h1>Movies Data Dashboard</h1>
<p>Use the interactive charts below to explore the dataset or click on these alternative visualizations:
<ul>
    <li><a href="/active">Active IMDB Users</a></li>
    <li><a href="/chord">Chord Diagram</a></li>
    <li><a href="/xrate">Comparison Across Ratings</a></li>
</ul>
</p>
</div>
</div>
<div class="row">

    <div class="row">
        <div class='col-md-12'>
            <b>Selections: </b>
            <input class="sankey-source" type="radio" name="sankey" value="/top18" checked="checked"> Top 10 Movies of 2018 &nbsp;
            <input class="sankey-source" type="radio" name="sankey" value="/top17"> Top 10 Movies of 2017 &nbsp;
            <input class="sankey-source" type="radio" name="sankey" value="jkr"> J.K. Rolling Series &nbsp;
            <input class="sankey-source" type="radio" name="sankey" value="mcu"> Marvel Cinematic Universe &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chart"></div>
        </div>
    </div>
</div>

<div class="col-md-2">
<div class="well">
<h5>Select a Genre:</h5>
<select id="selDataset" onchange="optionChanged(this.value)"></select>
</div>
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Bechdel Ratings</h3>
</div>
<div id="movie-metadata" class="panel-body">
<p><span class="b1">&nbsp;&nbsp;&nbsp;</span>&nbsp;It has to have at least two [named] women in it</p>
<p><span class="b2">&nbsp;&nbsp;&nbsp;</span>&nbsp;Who talk to each other</p>
<p><span class="b3">&nbsp;&nbsp;&nbsp;</span>&nbsp;About something besides a man</p>
<p><a href="https://bechdeltest.com/" target="_blank">https://bechdeltest.com/</a></p></div>
</div>
</div>
<div class="col-md-10">
<div id="bubble"></div>
</div>
</div>

</div>

</div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/sankey.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>


</body>

</html>
